.body{
  font-family: 'Open Sans', sans-serif;
}

nav{
  padding-left: 8%;
  padding-bottom: 0;
  padding-right: 8%;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
}

.nav-link{
  color: #576871;
}

.active{
  border-bottom: 5px solid #0073e6;
}

.page-title{
  font-size: 1.4em;
  margin-left: 8%;
  font-weight: bold;
  display: inline;
}

.content{
  white-space: pre-wrap;
}

pre{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #39424e;
  margin-left: 8%;
  width: 60%;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  padding: 2em;
}

.difficulty{
  position: absolute;
  top: 12.5em;
  left: 62em;
  color: #979faf;
}

.dlevel{
  position: absolute;
  top: 12.5em;
  right: 8%;
  color: #979faf;
}

.score{
  position: absolute;
  top: 14.5em;
  right: 8%;
  color: #979faf;
}

.max-score{
  position: absolute;
  top: 14.5em;
  left: 62em;
  color: #979faf;
}
