<div class="body">
  <nav class="navbar navbar-expand-sm" style="margin-bottom: 20px;">
  <!-- Brand/logo -->
    <a class="navbar-brand">
      <img src="/assets/logo.png" style="width: 170px; margin-bottom: 5px;" alt="">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/dashboard">PROBLEMS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/code-editor">ONLINE IDE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.geeksforgeeks.org/data-structures/" target="_blank">DATA STRUCTURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://cp-algorithms.com/" target="_blank">CP</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus">{{ user_name }} <i style="margin-right: 5px;" class="far fa-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" (click)="logout()">Logout <i style="margin-right: 5px;" class="fas fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </nav>
  <hr>
    <h1 class="page-title">{{ problem_data.name }}</h1>
  <hr>
  <br>
  <br>

  <pre #desc>
  </pre>
  <span class="difficulty">Difficulty: </span>
  <span class="dlevel">{{ problem_data.difficulty }}</span>
  <span class="max-score">Max Score: </span>
  <span class="score">{{ problem_data.max_score }}</span>
  <app-code-editor-question [problem_id]="problem_data.problem_id"></app-code-editor-question>
</div>
